# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Code Editors
/.idea
/.vscode
/*.csproj
/*.sln
*.swp
*.vcxproj.user

# Unity
/Library
/Logs
/Recordings
/UserSettings
/Temp

# 指定 Git 忽略的文件/文件夹
#（如临时文件、生成文件、IDE 配置等）。
